.page_overflow {
  height: 100%;
  overflow: hidden;
  width: 100%;
  // position: fixed;
}

.header {
  padding-top: 35px;
  &__right-block {
    display: flex;
    justify-content: space-between;
  }
}

.special-link {
  padding-top: 10px;
  position: relative;
  width: 160px;
  text-align: center;
  text-transform: uppercase;
  color: #4C4C4C;
  transition: .3s;
  &:before {
    position: absolute;
    content: "";
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
  }
  &:hover {
    color: #E20613;
  }
}
.do_good {
  padding: 8px 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  margin-right: 15px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #E20613;
  color: #fff;
  border-radius: 3px;
  .helpers {
    position: absolute;
    right: -15px;
    top: -2px;
    width: 20px;
    height: 28px;
    background-color: #fff;
  }
  &:after {
    position: absolute;
    content: "";
    right: -15px;
    top: 0;
    width: 32px;
    height: 28px;
    background: url(../images/heart_top.jpg) center 0% no-repeat;
    background-size: cover;
  }
  &:hover {
    color: #fff;
  }
}